@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.sw-main-sidebar {
  .sw-sidebar-divider {
    margin: 40px 0;
    height: 2px;
    background-color: $foreground-color;
  }

  .sw-sidebar-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .sw-sidebar-content {
    flex: 65%;
    &.close {
      width: 100%;
    }
  }

  &:not(.is-mobile) .MuiDrawer-paper {
    border-right: 1px solid $foreground-color;
  }

  .sw-sidebar-menu-icon {
    width: 26px;
    height: 26px;
    margin: 10px;
  }

  .sw-sidebar-top {
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sw-sidebar-menu {
    flex: 65%;
  }

  &.MuiDrawer-docked {
    .MuiPaper-root {
      display: flex;
      align-items: center;
    }
  }

  @include media-breakpoint("lt-sm") {
    .sw-sidebar-top {
      flex: 10%;
    }
  }
}
