@import "../../styles/variables.scss";

.sw-progress-bar {
  position: relative;

  .MuiLinearProgress-root {
    &:after {
      transition: width .4s linear;
    }
  }

  .sw-progress-bar-label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: color .4s linear;
  }
}
