@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.copy-wrapper {
  display: flex;
  align-content: center;
  text-transform: none;
  width: 100%;
  justify-content: space-between;
  line-height: 48px;
  height: 48px;
  border-width: 1px;
  border-style: solid;
  padding: 0 15px;
  margin-top: 5px;
  align-items: center;
  cursor: pointer;

  &.dark {
    background-color: $foreground-color !important;
  }

  &.light {
    border: 1px solid $primary-color;
  }
}
